@font-face {
  font-family: "Prociono";
  src: url("/assets/prociono/Prociono-Regular-webfont.eot");
  src: url("/assets/prociono/Prociono-Regular-webfont.woff") format("woff"),
    url("/assets/prociono/Prociono-Regular-webfont.ttf") format("truetype"),
    url("/assets/prociono/Prociono-Regular-webfont.svg") format("svg");
}

:root {
  font-family: Prociono, Georgia, "Times New Roman", Times, serif;
}

body {
  background: #eadbc3;
  display: flex;
  min-height: 80vh;
  align-items: center;
}

h1 {
  font-size: 64pt;
  color: #5b4420;
  text-align: right;
  max-width: 40%;
}
