---
import Typewriter from "../components/Typewriter.tsx";
import { Content } from "../content/bio.md";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <header>
    <h1 class="font-bold tracking-tight text-6xl mt-8 lowercase">
      Marselena Sequoia
    </h1>
    <p class="mt-2 text-2xl" aria-label="software engineer">
      <Typewriter client:load text="software engineer" />
    </p>
  </header>
  <article class="prose my-8">
    <Content />
  </article>
</BaseLayout>
