---

---

<header class="p-4 flex justify-center">
  <ul class="flex items-center">
    <li class="px-4"><a href="/">home</a></li>
    <li class="px-4"><a href="/blog">blog</a></li>
  </ul>
</header>
<hr class="opacity-20" />
