---
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦆</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hi, I'm Marselena! 👋 I'm an educator and engineer developing for the modern web."
    />
    <title>Marselena Sequoia: software engineer</title>
  </head>
  <body
    class="bg-amber-100 bg-gradient-to-tr to-amber-200 text-slate-800 flex flex-col items-center min-h-dvh"
  >
    <main class="max-w-4xl mx-4">
      <nav class="my-4 flex justify-center items-center">
        <a class="px-4 hover:underline" href="/">home</a>
        <!-- <a class="px-4 hover:underline" href="/blog">blog</a> -->
        <!-- <a class="px-4 hover:underline" href="/resume">resume</a> -->
      </nav>
      <hr class="opacity-20" />
      <slot />
    </main>
  </body>
</html>
