---
import "../styles/globals.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>marselena sequoia</title>
  </head>
  <body class="bg-slate-50 text-slate-950 flex flex-col items-center">
    <main class="w-1/2 max-w-3xl">
      <Header />
      <slot />
    </main>
  </body>
</html>
